In [32]:
import pandas as pd

In [33]:
import numpy as np

In [34]:
df =pd.read_csv('training_set_pixel_size_and_HC.csv')

In [35]:
df

       filename  pixel size(mm)  head circumference (mm)
0    000_HC.png        0.069136                    44.30
1    001_HC.png        0.089659                    56.81
2    002_HC.png        0.062033                    68.75
3    003_HC.png        0.091291                    69.00
4    004_HC.png        0.061240                    59.81
..          ...             ...                      ...
994  801_HC.png        0.296851                   329.26
995  802_HC.png        0.212267                   330.90
996  803_HC.png        0.202743                   331.70
997  804_HC.png        0.281090                   316.48
998  805_HC.png        0.257475                   330.70

[999 rows x 3 columns]

In [96]:
import seaborn as sns

In [116]:
# df[(df['category_']<300) & (df['category']>=280)] = 10

In [ ]:
10 - 50 - 1
50 - 60 - 4
60 - 65 - 9                         0
65 - 70 - 28
70 - 75 - 30
----------------------------
75 - 80 - 47
80 - 85 - 26
85 - 90 - 9                         1
90 - 95 - 9
95 - 100 - 20
---------------------------
100 - 150 - 61                      2
---------------------------
150 - 200 - 538 

150 - 160                           3
160 - 170                           4
170 - 180                           5
180 - 190                           6
190 - 200                           7
---------------------------
200 - 250                           8
---------------------------
250 - 280                           9
---------------------------
280 - 300                           10
---------------------------
300 - 350                           11
---------------------------
###350 is last

In [69]:
df['category'] = df['head circumference (mm)']

In [103]:
df['cat_int'] = df['category'].astype('int')

In [108]:
df['categorical_con'] = df['cat_int'].astype('category')

In [110]:
df['categorical_con']

0       0
1       0
2       0
3       0
4       0
       ..
994    11
995    11
996    11
997    11
998    11
Name: categorical_con, Length: 999, dtype: category
Categories (28, int64): [0, 1, 2, 3, ..., 294, 296, 298, 299]

In [112]:
df.to_csv(r'updated.csv', index = False)

In [113]:
df

,filename,pixel size(mm),head circumference (mm),category,cat_int,categorical_con
0,0,0.0,0.0,0.0,0,0
1,0,0.0,0.0,0.0,0,0
2,0,0.0,0.0,0.0,0,0
3,0,0.0,0.0,0.0,0,0
4,0,0.0,0.0,0.0,0,0
...,...,...,...,...,...,...
994,11,11.0,11.0,11.0,11,11
995,11,11.0,11.0,11.0,11,11
996,11,11.0,11.0,11.0,11,11
997,11,11.0,11.0,11.0,11,11
998,11,11.0,11.0,11.0,11,11